@import "https://fonts.googleapis.com/css?family=Oswald:400,500,600";@import "https://fonts.googleapis.com/css?family=Roboto:400,500";

* {
    box-sizing: border-box;
    margin: 0px auto;
}
body {
    color: #777;
    font-family: roboto,sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.667;
    min-width: 100%;
    overflow: auto;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
    font-family: oswald,sans-serif !important;
    color: #222;
    line-height: 1.1;
    font-weight: 700;
    font-size: 44px;
}
h4 {
    font-size: 20px;
    font-weight: 400;
}
img {
    width: 100%;
    vertical-align: middle;
}
.button {
    background-color: #384AEB;
    padding: 12px 41px;
    line-height: 50px;
    border: 1px solid #384AEB;
    border-radius: 30px;
    color: white;
    font-weight: 500;
    transition: .4s ease;
}
.button:hover {
    color: initial;
    background-color: initial;
}

/* banner */
.banner {
    background: #f1f6f7;
    margin-bottom: 10px;
    position: relative;
}
.banner::before {
    content: "";
    display: block;
    width: 30%;
    height: 100%;
    background-color: #384AEB;
    position: absolute;
    top: 0;
    left: 0;
}
.content-banner {
    display: flex;
    padding-top: 60px;
    margin: 0px auto;
    width: 65%;
    position: relative;
    align-items: center;
}
.content-banner-img {
    /* line-height: 0px; */
    position: relative;
    top: 1px;
    width: 40%;
}
.content-banner-text {
    position: relative;
    width: 60%;
    margin: 0 8%;
}
.content-banner-text h3 {
    font-weight: 400;
    line-height: 1.3;
    color: #555;
    margin-bottom: 12px;
}
.content-banner-text p {
    margin-bottom: 30px;
}
.content-banner-text button {
    margin-bottom: 15px;
}
/* reponsive */
@media only screen and (max-width: 1100px){
    .banner::before{
        width: 15%;
    }
    .content-banner {
        width: 90%;
    }
    .content-banner-img {
        width:35%;
    }
    .content-banner-text {
        width: 65%;
        margin: 0 4%;
    }
}
@media only screen and (max-width: 600px){
    .banner::before{
        width: 5%;
    }
    .content-banner-img {
        width: 0%;
    }
    .content-banner-text {
        width: 100%;
        margin: 0 2%;
    }
}

/* carousel-product */
.carousel-product {
    display: flex;
    margin-bottom: 120px;
    margin-right: -10px;
}
.carousel-product-item {
    position: relative;
    width: 100%;
    margin-right: 10px;
    /* height: calc((100vw - 16px) / 3 - 20px/3); */
}
.carousel-product-item::after{
    content: "";
    width: 100%;
    height: 60%;
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: white;
    opacity: 0;
    transition: .4s ease;
}
.carousel-product-item:hover::after{
    height: 100%;
    opacity: 0.6;
}
.carousel-product-item a{
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 4.5% 18% 4.5% 5%;
    background-color: #384AEB;
    color: white;
    transition: .4s ease;
    z-index: 1;
    opacity: 0;
}
.carousel-product-item:hover a{
    opacity: 1;
    bottom: 17%;
}
.carousel-product-item a h3{
    font-size: 20px;
    font-weight: 400;
    color: white;
}
/* reponsive */
@media only screen and (max-width: 600px){
    .carousel-product-item3 {
        display: none;
    }
}


.trending-product {
    margin: 0 14.3% 70px;
}
.trending-product-intro {
    padding-bottom: 60px;
}
.trending-product-intro span{
    border-bottom: 2px solid #384aeb;
}
.row-product {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2%;
}
.item-product {
    padding: 0 2%;
    width: 25%;
}
.item-product:hover .item-product-img-overlay {
    height: 40%;
    opacity: 1;
    align-items: center;
}
.item-product:hover .item-product-text a {
    color: #384AEB;
}
.item-product-img {
    position: relative;
    vertical-align: bottom;
}
.item-product-img-overlay {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 20%;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 20%;
    transition: .4s ease;
}
.item-product-img-overlay-icon {
    border: 0px;
    width: 40px;
    height: 40px;
    background-color: #8894ff;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .4s ease;
}
.item-product-img-overlay-icon:hover {
    background-color: #384aeb;
}
.item-product-img-overlay-icon i{
    color: white;
    font-size: 15px;
}
.item-product-text {
    padding: 2rem;
    padding-bottom: 3rem;
    text-align: center;
}
.item-product-text *{
    line-height: 2rem;
}
.item-product-text a{
    color: #222;
}
/* reponsive */
@media only screen and (max-width:1000px) {
    .item-product {
        width: calc(100%/3);
    }
    .trending-product {
        margin: 0 5% 30px;
    }
}
@media only screen and (max-width:700px) {
    .item-product {
        width: 50%;
    }
    .trending-product {
        margin: 0 2% 10px;
    }
}
@media only screen and (max-width:450px) {
    .item-product {
        width: 100%;
    }
}


.slide {
    width: 100%;
    padding: 1%;
    position: relative;
}
.slide-text {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 25%;
    text-align: center;
}
.slide-text *{
    font-weight: 400;
}
.slide-text h3 {
    margin-bottom: 25px;
}
.slide-text h4 {
    font-size: 30px;
    margin-bottom: 8px;
}
.slide-text p {
    margin-bottom: 40px;
}